
/* bootstrap-tree is a custom classname to increases the specificity of our styles. It can be anything. 
 * The idea is that it is easy to extend/override builtin styles with very little effort.
 */

input[type=checkbox] {
  display: inline-block;
}
.bootstrap-tree .dropdown-trigger {
  border-radius: 0.25rem;
}

.bootstrap-tree .dropdown-trigger > span:after {
  font-size: 12px;
  color: #555;
}

.bootstrap-tree .toggle {
  font: normal normal normal 12px/1 FontAwesome;
  color: #555;
  outline: none
}

.bootstrap-tree .toggle.collapsed::after {
  content: "\f067";
}

.bootstrap-tree .toggle.expanded::after {
  content: "\f068";
}

/*---------------Changes------------------*/

.react-dropdown-tree-select .dropdown .dropdown-content{
    min-width: 250px;
    max-width: 350px;
    padding: 10px
}

.node.focused {
    background-color: unset;
}

.node-label{
    transform: translateY(1.5px);
}
.node{
    white-space: inherit;
}
.node>label {
    margin-left: 0;
    margin-bottom: 0;
}

.toggle {
    position: relative;
    top: 1px;
}