//Brand Color
$brandColor: #e8be28;

$checked-color: $brandColor;
$unchecked-color: #000;
$checkbox-height: 20px;
$background-color:#667788;
$font-color:#efefef;
$duration: .4s;

// No media query for `xs` since this is the default in Bootstrap

// Extra Small devices (Extra Small phones, 320px)

$extraSmallDevices: "only screen and (max-width: 320px)";

// Small devices (landscape phones, 576px and up)

$smallDevices: "only screen and (max-width: 767px)";

// Small devices (landscape )

$smallDevicesLandscape: "only screen and (max-width: 767px) and (orientation: landscape)";

// Medium devices (tablets, 768px and up)

$mediumDevices: "only screen and (min-width: 768px) and (max-width: 991px) ";

// Medium devices (tablets, 768px and up) (landscape )

$mediumDevicesLandscape: "only screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape)";

// Large devices (desktops, 992px and up)

$largeDevices: "only screen and (min-width: 992px) and (max-width: 1199px)";

// Large devices (desktops, 992px and up) (landscape )

$largeDevicesLandscape: "only screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape)";

// Extra large devices (large desktops, 1200px and up)

$extraLargeDevices: "only screen and (min-width: 1200px)";

//Icons
$icons: (
  "faq": "\f059",
  "community": "\f086",
  "email": "\f0e0",
);

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

// body {
//   padding-top: 78px;
// }

.metismenu {
  a {
    padding: 10px 15px 0 0;
  }
  ul {
    > li {
      a {
        &::before {
          content: "";
          font-family: fontAwesome !important;
        }
        padding: 10px 15px 10px 15px;
        .fa.arrow {
          position: absolute;
          right: 14px;
        }
      }

      @each $name, $icon in $icons {
        a.#{$name} {
          &::before {
            content: $icon;
          }
        }
      }

      ul {
        > li {
          a {
            padding: 10px 15px 10px 30px;
          }
        }
      }
    }
    a {
      display: flex;
      padding: 10px 15px 10px 30px;
    }
    ul {
      a {
        padding: 10px 15px 10px 50px;
      }
    }
  }
}

.sidebar-nav-item-icon {
  padding-right: 5px;
  padding-top: 3px;
  color: #c8cfd6;
  
}

.moduleLeftNav
{
  position: absolute !important;
  right: 0px;
}

.metismenu ul > li:last-child {
  padding-bottom: 0;
}

.form-control,
.form-control:focus {
  color: #7c838e;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(232, 190, 40, 0.25) !important;
}

.brandColor {
  color: $brandColor !important ;
}


.btn-brandColor {
  color: white !important;
  background-color: $brandColor !important;
  border-color: $brandColor !important;
}

.btn-brandColor:hover {
  color: white;
  background-color: #000 !important;
  border-color: #000 !important;
}

.btn-blackColor {
  color: white !important;
  background-color: #000 !important;
  border-color: #000 !important;
}

.btn-fixed{
  min-width: 150px;
}

.star-rating {
  color: #ffb400 !important;
}

.btn-search {
  color: $brandColor !important;
  &:hover,
  &:focus {
    //box-shadow: 0 0 0 0.2rem rgba(232, 190, 40, 0.25) !important;
    box-shadow: none !important;
    color: white !important;
    background-color: $brandColor;
    background-color: darken($brandColor, 10%) !important;
  }
}

a.icon:hover {
  color: #7d8490 !important;
}

.btn-brand {
  border-color: black;
  color: white;
  background-color: black !important;

  &:hover {
    color: white;
    background-color: $brandColor !important;
    border-color: $brandColor;
  }
  &.filled {
    color: white;
    background-color: $brandColor !important;
    &:hover {
      background-color: darken($brandColor, 10%) !important;
    }
  }

  &[disabled] {
    color: white;
    background-color: $brandColor !important;
  }
}

.nav-tabs .nav-link.active {
  border-color: $brandColor;
  color: $brandColor;
}

#left-sidebar {
  //padding: 20px 15px 20px 20px;

  @media #{$smallDevices} {
    padding-top: 20px;
  }

  .sidebar-nav {
    margin-top: 18px;
  }
}

// .offcanvas-active .page {
//   left: 0;
//   width: 100%;

//   @media #{$mediumDevices} {
//     left: 0;
//     width: 100%;
//   }
// }

.page {
  @media #{$mediumDevices} {
    left: 0;
    width: 100%;
  }
}

.menu_toggle {
  display: inline-block;
  font-size: 19px;
  margin-bottom: 20px;
  color: #c8cfd6;

  // @media #{$smallDevices} {
  //   margin: 5px 0 0 10px;
  // }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner 0.6s linear infinite;
}

//SideBar & Nav
.sideMenuIcons {
  padding: 0 !important;
  width: 100%;
  height: 45px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
  overflow: hidden;
  position: relative;
  color: #7d8490 !important;

  &:hover {
    transform: scale(1.5);
    color: #7d8490 !important;
  }
}

.sideMenuLinks {
  padding: 0 !important;
  width: 100%;
  height: 45px;
  justify-content: start;
  align-items: center;
  display: flex !important;

  .fa.arrow {
    position: absolute;
    right: 10px;
  }

  .program-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 24px;
    overflow: hidden;
    margin-right: 18px;
    transition: all 0.3s ease-out;

    img {
      // max-width: 100%;
      max-height: 100%;
      transition: all 0.3s ease-out;
    }
  }

  &:hover {
    .program-icon {
      img[data-toggle="tooltip"] {
        transform: scale(1.3);
      }
    }

    i[data-toggle="tooltip"] {
      color: $brandColor;
      transform: scale(1.3);
    }
  }

  i {
    transition: all 0.2s ease-out;
  }
}

#left-sidebar .brand-name {
  position: relative;
  height: 45px;
  overflow: hidden;
  margin-top: 0;
}

#left-sidebar .brand-name > img {
  position: absolute;
  top: 50%;
  //left: -7px;
  transform: translateY(-50%);
  margin-top: 2px;
}

.header-sticky {
  position: fixed;
  top: 0;
  z-index: 10;

  @media #{$smallDevices} {
    padding-top: 0 !important;
  }
}

.page-header {
  .right {
    @media #{$mediumDevices} {
      justify-content: flex-end;
    }
    @media #{$smallDevices} {
      justify-content: flex-end;
    }
  }
}

//Content-Wrapper
.section-body.content-wrapper {
  ::selection {
    background: #a8aaac;
    //color: white;
  }

  ::-moz-selection {
    /* Code for Firefox */
    background: #a8aaac;
    //color: white;
  }
  padding: 0;
  margin-top: 0 !important;

  @media #{$mediumDevices} {
    margin-top: 128px !important;
  }

  @media #{$smallDevices} {
    margin-top: 72px !important;
  }
  .container-fluid {
    padding: 1.5rem 35px 20px !important;
    min-height: calc(100vh - 73px);
    background-color: #f4f4f4;

    @media #{$mediumDevices} {
      padding: 1.5rem 35px 20px 95px !important;
    }

    @media #{$smallDevices} {
      padding: 0.5rem 15px 20px !important;
    }

    .white-container {
      background-color: white;
      // box-shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px, rgba(49, 49, 49, 0.05) 0px 4px 4px,
      //   rgba(42, 42, 42, 0.05) 0px 8px 8px, rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.05) 0px 32px 32px,
      //   rgba(35, 35, 35, 0.05) 0px 64px 64px;
      border-radius: 0.55rem;
      border: 1px solid #e8e9e9;
      padding: 20px;
    }

    .card {
      background-color: white !important;
      // box-shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px, rgba(49, 49, 49, 0.05) 0px 4px 4px,
      //   rgba(42, 42, 42, 0.05) 0px 8px 8px, rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.05) 0px 32px 32px,
      //   rgba(35, 35, 35, 0.05) 0px 64px 64px;
      border-color: #e8e9e9;
    }

    .form-control,
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_filter,
    .input-group-append > .btn,
    .dataTables_wrapper .dataTables_paginate .input-group-append > .paginate_button,
    .dataTables_wrapper .dataTables_paginate .input-group-append > .paginate_button,
    .custom-select {
      border-color: #e8e9e9;
      background-color: white;
    }

    .form-control,
    .dataTables_wrapper .dataTables_filter,
    .form-control:focus,
    .dataTables_wrapper .dataTables_filter:focus {
      color: #7c838e;
    }

    .table.table_custom tr:nth-last-of-type(1) {
      // background-color: rgba(0, 0, 0, 0.08);
    }

    .table.table-striped tbody tr:nth-of-type(even) {
      background-color: rgba(0, 0, 0, 0.08);
    }

    .input-group-text,
    .page-header,
    .timeline_item,
    .timeline_item .tl_avatar,
    .recent_comments li,
    .feeds_widget li,
    .list-group-item,
    .progress,
    .file_folder a,
    .chat_app .chat_list,
    .selectgroup-button,
    .card-footer {
      border-color: #e8e9e9;
    }

    .note-editor.note-frame .note-editing-area .note-editable {
      background: #fff;
      color: #7d8490;
    }

    .note-popover .popover-content,
    .panel-heading.note-toolbar {
      background-color: white;
    }

    .note-editor.note-frame {
      border-color: #e8e9e9;
    }

    .reviewborder {
      border-color: #e8e9e9;
    }

    .page-title,
    .form-control-plaintext {
      color: inherit;
    }
  }
}

.dropdown-item {
  &.active {
    background-color: $brandColor;
    color: white !important;
  }

  &:active {
    background-color: darken($brandColor, 10%) !important;
    color: white !important;
  }
}

//Star Rating
.dv-star-rating {
  margin-top: 5px;
  font-size: 16px;
  font-family: fontAwesome;
}

//Checkbox
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: $brandColor !important;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: $brandColor !important;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(232, 190, 40, 0.25);
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: lighten($brandColor, 5%);
  border-color: lighten($brandColor, 5%);
}

//rs
.page-item.active .page-link {
  background-color: $brandColor;
  border-color: black;
}
.page-link {
  color: #000;
  background-color: transparent;
  border-color: black;

  &:hover {
    background-color: darken($brandColor, 10%);
    border-color: black;
    color: white;
  }
}
.paginate_button.page-item.previous.disabled > a,
.paginate_button.page-item.next.disabled > a {
  background-color: transparent !important;
  border-color: black;
}
a.text-info:focus,
a.text-info:hover {
  color: darken($brandColor, 10%) !important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:hover:not(.disabled) {
  border-color: lighten($brandColor, 10%) !important;
  color: lighten($brandColor, 10%) !important;
}

.dark-mode .metismenu a.active,
.dark-mode .metismenu .active > a {
  color: #c8cfd6;
}

.sweet-alert {
  position: fixed !important;
  left: initial !important;
  top: initial !important;
}

@media (max-width: 540px) {
  .sweet-alert {
    width: 90% !important;
    right: inherit !important;
    left: 0 !important;
  }
}

.sweet-alert h2 {
  font-size: 19px !important;
}

.custom-select {
  color: #7d8490 !important;
}

.lblrating {
  padding-right: 15px;
}

.radrating {
  margin-top: 12px;
  margin-right: 5px;
}

.note-popover.popover {
  display: none;
}

.reviewborder {
  border: 1px solid #393f45;
  margin-bottom: 15px;
  border-radius: 0px 10px 0px 10px;
  padding: 10px;
}

.reviewfrom {
  font-size: 10px;
  font-style: italic;
}

.reviewstar {
  padding: 5px;
}

.hidden {
  display: none !important;
}

// rating

.rating {
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  width: auto;
  height: 30px;
}

.rating > input {
  opacity: 0;
  margin-right: -100%;
}

.rating > label {
  position: relative;
  display: block;
  float: right;
  background: url("/assets/images/star-off-big.png");
  background-size: 30px 30px;
}

.rating > label:before {
  display: block;
  opacity: 0;
  content: "";
  width: 30px;
  height: 30px;
  background: url("/assets/images/star-on-big.png");
  background-size: 30px 30px;
  transition: opacity 0.2s linear;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating:not(:hover) > :checked ~ label:before {
  opacity: 1;
}

// Table Config

.table.table_custom tr th,
.table.table_custom tr td {
  white-space: normal !important;
  width: 100% !important;
  word-break: break-word !important;
}

.table.table_custom tr th:first-child,
.table.table_custom tr td:first-child {
  width: 57px !important;
}

.table {
  table-layout: fixed !important;
}

.form-group.required .col-form-label:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 1px;
  top: 7px;
}

.member-status {
  margin: 5px;
}

.profile-img {
  max-height: 200px;
}

.profile-textarea {
  min-height: 120px;
  overflow-x: scroll;
  max-height: 150px;
}

.dropify-wrapper {
  border: none;
  .dropify-preview {
    padding: 0;
  }
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

//Loader

.css-50etie svg circle {
  stroke: $brandColor !important;
}
.css-df17o1 {
  color: $brandColor !important;
}

.css-79elbk {
  position: fixed !important;
  height: 100% !important;
  width: 100% !important;
  top: 0px !important;
  left: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  z-index: 999999 !important;
  color: $brandColor !important;
}

.css-79elbk:empty {
  top: inherit !important;
  left: inherit !important;
  right: inherit !important;
  bottom: inherit !important;
  height: inherit !important;
  width: inherit !important;
  color: $brandColor !important;
  z-index: 0 !important;

  .css-df17o1 {
    color: $brandColor !important;
  }
}

div.dataTables_wrapper div.dataTables_filter input {
  margin: 5px !important;
}

div.dataTables_wrapper div.dataTables_length select {
  margin-top: 4px;
}

.cm-check {
  margin-bottom: 10px;
}

.cm-review-title {
  font-weight: bold;
}

//Table

.table {
  table-layout: fixed !important;
}

.table tr th,
.table tr td {
  white-space: normal !important;
  width: 100% !important;
  word-break: break-word !important;
}

.table tr th:first-child,
.table tr td:first-child {
  width: 57px !important;
}

// .table.table_custom tr th:not(:first-child),
// .table.table_custom tr td:not(:first-child) {
//   width: 100% !important;
// }

.module-wrapper {
  // display: flex;

  //Left
  .module-left {
    width: 280px;
    max-width: 100%;
    padding: 150px 25px 25px 25px !important;
    position: fixed;
    margin-bottom: 10px;
    transition: all 0.01s ease-in-out;

    @media #{$mediumDevices} {
      width: 240px;
    }

    @media #{$smallDevices} {
      width: 100%;
      position: relative;
    }

    .module-action {
      .module-category-list {
        height: inherit;

        ul {
          margin: 9px 0 5px !important;
          position: static;
        }
      }

      .module-help-btn {
        margin-left: 20px;
        margin-top: 20px;
        font-size: 15px;
        font-weight: 600;
        color: black;
      }
    }
    .module-help {
      a {
        margin-left: 20px;
        margin-bottom: 30px;
        font-size: 15px;
        font-weight: 600;
        color: black;
      }
      margin-bottom: 30px;
    }

    .module-category-img {
      height: 140px;
      overflow: hidden;
      position: absolute;
      background-color: #fff;
      //padding: 5px;
      width: calc(100% - 30px);
      top: 10px;
      right: 20px;
      bottom: 0;
      left: 50%;
      overflow: hidden;
      text-align: center;
      border: 1px solid #dadada;
      transform: translateX(-50%);

      img {
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        position: relative;
        max-width: 100%;
        max-height: 100%;
        background-color: #fff;
        -webkit-transition: border-color 0.15s linear;
        transition: border-color 0.15s linear;
      }
    }

    .module-title {
      h3 {
        font-weight: 700;
        color: black;
        padding: 15px 0 15px 12px;
        position: relative;
        font-size: 22px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &::before {
          content: "";
          position: absolute;
          height: 25px;
          border-left: 3px solid $brandColor;
          left: 0;
          top: 15px;
        }
      }
    }

    .cm-border-bottom
    {
      border-bottom: 1.5px dotted;
    }

    .module-category-list {
      position: relative;
      min-height: 100%;
      overflow: hidden;
      // height: 467px;
      height: 200px;
      ul {
        counter-reset: module-counter;
        list-style: none;
        padding: 0;
        margin: 0;
        border-bottom: 1.5px dotted;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: -17px;
        overflow-y: scroll;
        overflow-x: hidden;
        //padding-bottom: 25px;
        li {
          margin-bottom: 10px;
          margin-right: 17px;
          a {
            font-size: 15px;
            font-weight: 600;
            color: black;
            //margin-left: 20px;
            position: relative;
            position: relative;
            display: flex;
            align-items: baseline;

            &:hover {
              color: lighten(#000000, 30%);
            }

            &.active {
              font-weight: 700;
            }

            i {
              color: #7d8490;
              position: relative;
              margin-right: 5px;
              // left: -20px;
              // top: 50%;
              // transform: translateY(-50%);
            }

            &.completed {
              i {
                color: #41ad49;
              }
            }
          }
        }
      }
    }
  }

  //Right
  .module-right {
    padding: 0 0 0 15px;
    width: calc(100% - 280px);
    min-height: 100vh;
    margin-left: calc(291px - 15px);
    transition: all 0.02s ease-in-out;

    .white-container {
      padding: 25px !important;
    }

    @media #{$mediumDevices} {
      width: calc(100% - 250px);
      margin-left: calc(265px - 15px);
      padding: 0 0 0 0;
    }

    @media #{$smallDevices} {
      width: 100%;
      margin-left: 0;
      padding: 0 0 0 0;
    }

    .module-video-header {
      display: flex;
      justify-content: space-between;

      .module-title {
        color: black;
        width: 85%;
      }

      .module-completed {
        button {
          background: inherit !important;
          background-color: #39be48 !important;

          &:hover {
            background-color: darken(#39be48, 20%) !important;
          }

          &[disabled] {
            cursor: not-allowed;

            background-color: darken(#39be48, 20%) !important;
            opacity: 1;
          }
        }
      }
    }

    .module-video-player {
      margin: 10px 0;
      min-height: 365px;
      // background-color: #00000080;

      @media #{$mediumDevices} {
        height: 250px;
      }

      @media #{$smallDevices} {
        height: 200px;
      }
    }

    .module-video-footer {
      .module-video-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
          border: none;
          background: rgba(255, 255, 255, 0);
        }
      }
    }

    .module-lesson {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 10px;

      .lesson,
      .resources {
        background-color: white;
        border-radius: 0.55rem;
        border: 1px solid #e8e9e9;
        padding: 25px;

        .title {
          color: black;
          font-weight: 600;
          margin-bottom: 20px;
        }
      }

      .lesson {
        width: calc(60% - 5px);
        flex: 0 0 calc(60% - 5px);
        margin-right: 10px;

        @media #{$mediumDevices} {
          width: 100%;
          flex: 0 0 100%;
        }

        @media #{$smallDevices} {
          width: 100%;
          flex: 0 0 100%;
          margin-bottom: 10px;
        }
      }

      .resources {
        width: calc(40% - 5px);
        flex: 0 0 calc(40% - 5px);

        @media #{$mediumDevices} {
          width: 100%;
          flex: 0 0 100%;
        }

        @media #{$smallDevices} {
          width: 100%;
          flex: 0 0 100%;
        }

        .resources-item {
          list-style: none;
          padding-left: 0;
          li {
            a {
              display: block;
              background-color: #f7fbfe;
              color: #89c8f0;
              padding: 10px 45px 10px 12px;
              margin-bottom: 5px;
              position: relative;

              &::before {
                position: absolute;
                font-family: fontAwesome;
                right: 12px;
                font-size: 18px;
                top: 50%;
                transform: translateY(-50%);
              }

              &.file {
                &::before {
                  content: "\f0ed";
                }
              }

              &.link {
                &::before {
                  content: "\f0c1";
                }
              }

              &.no-download {
                &::before {
                  content: "";
                }
              }

              &:hover {
                // text-decoration: underline;
                color: darken(#89c8f0, 20%);
              }
            }
          }
        }
      }
    }

    .additional-topics {
      margin-top: 10px;

      .additional-topics-title {
        color: black;
        font-weight: 600;
        margin-top: 10px;
      }
      #accordionExample {
        .card {
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.08);
          border-radius: 0 !important;
          margin-bottom: 0;

          &:hover {
            box-shadow: none;
          }

          .card-body {
            padding: 20px 20px;
          }

          &:nth-child(even) {
            .card-header {
              background-color: rgba(0, 0, 0, 0.08);
            }
          }
        }
        .card-header {
          padding: 0;
          border-bottom: 1px solid rgba(0, 0, 0, 0.08);

          a {
            width: 100%;
            padding: 15px 15px 13px;
            color: #586071;
            font-size: 22px;
            font-weight: 700;
            display: flex !important;
            justify-content: center;
            align-items: center;

            .counter {
              margin-right: 10px;
              margin-left: 5px;
              color: #bcbfc5;
              font-size: 30px;
            }
          }
        }

        .btn span.arrow:before {
          right: 15px;
        }

        // .btn[aria-expanded="false"] span.arrow:before {
        //   content: "\f105";
        // }
        // .btn[aria-expanded="true"] span.arrow:before {
        //   content: "\f105";
        //   -webkit-transform: translateY(-50%) rotate(90deg);
        //   -moz-transform: translateY(-50%) rotate(90deg);
        //   transform: translateY(-50%) rotate(90deg);
        // }
      }
    }

    .module-transcript {
      margin-top: 10px;
      .module-transcript-header {
        display: flex;

        .module-transcript-title {
          color: black;
        }

        .download {
          font-size: 18px;
          color: #89c8f0;

          &:hover {
            color: darken(#89c8f0, 20%);
          }
        }
      }

      .module-transcript-wrapper {
        background-color: #f8f9f9;
        position: relative;
        min-height: 100%;
        overflow: hidden;
        height: 300px;
        margin-top: 20px;

        .module-transcript-body {
          padding: 0 67px 0 50px;
          position: absolute;
          top: 25px;
          left: 0;
          bottom: 0;
          right: -17px;
          overflow-y: scroll;
          overflow-x: hidden;
          div {
            // white-space: pre;
          }

          @media #{$mediumDevices} {
            padding: 0 33px 0 15px;
          }

          @media #{$smallDevices} {
            padding: 0 33px 0 15px;
          }
        }
      }

      .read-more {
        background-color: #f8f9f9;
        padding: 30px 0 40px;
        button {
          background-color: #3299e2;

          &:hover {
            background-color: darken(#3299e2, 20%);
          }
        }
      }
    }
  }
}

.transcript-full {
  .module-transcript-header {
    margin-bottom: 20px;
    display: flex;
  }

  .module-transcript-body {
    background-color: #f8f9f9;
    position: relative;
    padding: 30px 50px 50px;

    @media #{$mediumDevices} {
      padding: 0 33px 0 15px;
    }

    @media #{$smallDevices} {
      padding: 0 33px 0 15px;
    }
  }
  .read-more {
    background-color: #f8f9f9;
    padding: 0 0 40px;
    button {
      background-color: #3299e2;

      &:hover {
        background-color: darken(#3299e2, 20%);
      }
    }
  }
}

select {
  -webkit-appearance: menulist !important;
}

div.dataTables_wrapper div.dataTables_info {
  white-space: inherit;
}

@media #{$extraLargeDevices} {
  #left-sidebar {
    padding: 15px 15px 20px 10px;
  }

  .offcanvas-active #left-sidebar {
    left: 0;
  }

  .metismenu > li {
    margin-left: 6px;
    i {
      font-size: 25px;
      margin-right: 18px;
      width: 30px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .metismenu ul > li a {
    padding: 10px 25px 10px 50px;
  }

  .metismenu ul > li ul > li a {
    padding: 10px 15px 10px 60px;
  }

  .offcanvas-active .page {
    left: 65px;
    width: calc(100% - 65px);
  }
}

//fullCalendar
.fc-day-header {
  color: #333537;
  background: #e8e9e9 !important;
  border: 1px solid #f8f9fa !important;
  padding: 10px !important;
}

.fc-day-top {
  padding: 7px !important;
}

.fc-day-grid-event {
  background-color: $brandColor ;
  border-color: $brandColor ;
  color: white !important;
  padding: 2px !important;
}

.fc-button {
  text-transform: capitalize !important;
}

//Calendar
.fc .fc-view-container .fc-other-month {
  background: #f3f9ff;
}

.fc-highlight {
  background: #bce8f1;
  opacity: 0.3;
}

// .fc-day-number {
//   color: #434a54;
// }

.fc-time-grid .fc-slats td {
  height: 2.5em !important;
  border-bottom: 0 !important;
}

//Dashboard Program Progress

// Progress
.progress {
  width: 100%;
  height: 6px;
  .progress-bar {
    height: 6px;
  }

  &.mediumHeight {
    height: 1.5em;

    .progress-bar {
      height: 1.5em;
    }
  }
}

// #accordionExample {
//   .card:not(:last-of-type) {
//     border-bottom: 1px solid #e8e9e9;
//   }
//   .card {
//     margin-bottom: 10px;
//     .card-header {
//       padding: 0;
//       flex-direction: column;
//       .btn {
//         width: 100%;
//       }

//       .Title,
//       .Percentage,
//       .Status {
//         flex: 0 0 33.33%;
//       }

//       .Title {
//         font-size: 18px;
//         font-weight: 700;
//         white-space: nowrap;
//         overflow: hidden;
//         text-overflow: ellipsis;
//       }

//       .Percentage {
//         text-align: right;
//       }

//       .Status {
//         text-align: center;
//       }

//       .Percentage,
//       .Status {
//         font-size: 16px;
//         font-weight: 600;
//       }

//       .Module {
//         justify-content: center;
//         padding: 10px 25px 0 0;
//       }
//     }

//     .ModuleBody {
//       padding-top: 0;
//       .card {
//         border: none;
//         margin-bottom: 0;
//       }

//       .card-header {
//         a {
//           padding: 5px 40px 5px 0;
//           border: none;
//           font-size: 16px;
//           font-weight: 600;

//           .arrow {
//             right: 2px;
//           }
//         }
//       }

//       .card-body {
//         background-color: #eeeeee;
//       }

//       .listing {
//         padding: 0;
//         list-style: none;

//         li {
//           position: relative;
//           padding-left: 25px;
//           font-size: 16px;
//           margin-bottom: 6px;
//           font-weight: 600;
//           &:last-child {
//             margin-bottom: 0;
//           }
//           &::before {
//             font-family: "fontAwesome";
//             content: "\f058";
//             position: absolute;
//             left: 0;
//             color: #28a745 !important;
//           }
//         }
//       }
//     }

//     .btn {
//       position: relative;
//       padding: 10px 60px 10px 25px;
//       align-items: center;
//       text-align: inherit;

//       &.program {
//         justify-content: space-between;
//         font-weight: 600;
//       }

//       .arrow {
//         position: absolute;
//         right: 25px;
//         top: 50%;
//         transform: translateY(-50%);

//         &:before {
//           font-family: "fontAwesome";
//           float: right;
//           transition: all 0.5s;
//           font-size: 20px;
//         }
//       }

//       &[aria-expanded="false"] span.arrow:before {
//         content: "\f105";
//       }

//       &[aria-expanded="true"] span.arrow:before {
//         content: "\f105";
//         -webkit-transform: rotate(90deg);
//         -moz-transform: rotate(90deg);
//         transform: rotate(90deg);
//       }
//     }
//   }
// }

// .dashboardChart {
//   padding: 10px;
// }

// .earning-list-wrapper {
//   margin: 15px 0;
// }

// .earning-amount {
//   margin: 10px 0 20px;
//   font-size: 25px;
//   font-weight: 800;
//   color: #28a745 !important;
// }
// .earning-list {
//   display: flex;
//   margin: 0 10px;

//   div {
//     &:not(:first-child) {
//       text-align: right;
//     }

//     &:first-child {
//       min-width: 100px;
//       font-weight: 600;
//       font-size: 16px;
//     }
//     flex-grow: 1;
//     margin-bottom: 10px;
//     font-size: 14px;
//     font-weight: 600;
//   }
// }

//Managing Default According Arrow
.card-header {
  a {
    width: 100%;
    position: relative;
  }
}

.btn span.arrow:before {
  font-family: "fontAwesome";
  float: right;
  transition: all 0.5s;
  font-size: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn[aria-expanded="false"] span.arrow:before {
  content: "\f105";
}
.btn[aria-expanded="true"] span.arrow:before {
  content: "\f105";
  -webkit-transform: translateY(-50%) rotate(90deg);
  -moz-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}

.earning-amount {
  margin: 10px 0 20px;
  font-size: 25px;
  font-weight: 800;
  color: #21ba45 !important;
}

.earning-list-wrapper {
  margin: 15px 0;
}

.earning-list {
    display: flex;
    margin: 0 10px;
}


.earning-list div:first-child {
  min-width: 100px;
  font-weight: 600;
  font-size: 16px;
}

.earning-list div {
  flex-grow: 1;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}

.earning-list div:not(:first-child) {
  text-align: right;
}

.earning-list div {
  flex-grow: 1;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}

.dashboardCounterDiv {
  height: 455px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 20px;
}

.module-transcript
{
  margin-top: 20px;
  margin-bottom: 50px;
  border-top: 1px solid #ececec;
  padding-top: 15px;
}

.readMoreText
{
  color: #fff !important;
  position: absolute;
  bottom: -55px; 
  left: 43%; 
  background-color: #007bff !important;
  border-color: #007bff !important;
  display: inline-block !important;
  font-weight: 400 !important;
  text-align: center !important;
  vertical-align: middle !important;
  cursor: pointer !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;     
  border: 1px solid transparent !important;
  padding: .375rem .75rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  border-radius: .25rem !important;
}





///////////////////////////////////////////

/* Checkmark style starts */

@-moz-keyframes dothabottomcheck{
  0% { height: 0; }
  100% { height: $checkbox-height/2; }
}

@-webkit-keyframes dothabottomcheck{
  0% { height: 0; }
  100% { height: $checkbox-height/2; }
}

@keyframes dothabottomcheck{
  0% { height: 0; }
  100% { height: $checkbox-height/2;  }
}

@keyframes dothatopcheck{
  0% { height: 0; }
  50% { height: 0; }
  100% { height: $checkbox-height * 1.2; }
}
@-webkit-keyframes dothatopcheck{
  0% { height: 0; }
  50% { height: 0; }
  100% { height: $checkbox-height * 1.2; }
}
@-moz-keyframes dothatopcheck{
  0% { height: 0; }
  50% { height: 0; }
  100% { height: $checkbox-height * 1.2; }
}

input[type=checkbox]{
  display:none;
}

.check-box {
  height: $checkbox-height;
  width: $checkbox-height;
  background-color: transparent;
  border: $checkbox-height * .1 solid $unchecked-color;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease $duration/2;
  -o-transition: border-color ease $duration/2;
  -webkit-transition: border-color ease $duration/2;
  transition: border-color ease $duration/2;
  cursor:pointer;

  &::before, &::after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      height: 0;
      width: $checkbox-height * .2;
      background-color: $checked-color;
      display: inline-block;
      -moz-transform-origin: left top;
      -ms-transform-origin: left top;
      -o-transform-origin: left top;
      -webkit-transform-origin: left top;
      transform-origin: left top;
      border-radius: 5px;
      content: ' ';
      -webkit-transition: opacity ease .5;
      -moz-transition: opacity ease .5;
      transition: opacity ease .5;
  }

  &::before {
      top:$checkbox-height * .72;
      left: $checkbox-height * .41;
      // box-shadow: 0 0 0 $checkbox-height * .05 $background-color;
      -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
  }

  &::after {
      top: $checkbox-height * .37;
      left: $checkbox-height * .05;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
  }
}

input[type=checkbox]:checked + .check-box,
.check-box.checked{
  border-color:$checked-color;
  
  &::after{
      height: $checkbox-height * .5;
      -moz-animation: dothabottomcheck $duration/2 ease 0s forwards;
      -o-animation: dothabottomcheck $duration/2 ease 0s forwards;
      -webkit-animation: dothabottomcheck $duration/2 ease 0s forwards;
      animation: dothabottomcheck $duration/2 ease 0s forwards;
  }
   
  &::before{
      height: $checkbox-height * 1.2;
      -moz-animation: dothatopcheck $duration ease 0s forwards;
      -o-animation: dothatopcheck $duration ease 0s forwards;
      -webkit-animation: dothatopcheck $duration ease 0s forwards;
      animation: dothatopcheck $duration ease 0s forwards;
  }
}

.view-more{
  color: #000;
}


.view-more:hover{
  color: $brandColor;
}


.dark-mode .table.table_custom tr {
  background: #ebebeb;
}


.dark-mode .table thead th {
  border-color: #585858 !important;
  color: #8e8e8e  !important;
}

.table tfoot tr
{   
  background: #ebebeb !important;
}


.table tfoot td, .table tfoot th
{
  padding: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.fc-content
{
  color: #fff;
}

.tag {    
  padding: 0px 8px 0px 8px !important;       
}

.tag-success {
    background-color: #21ba45 !important;   
    color: #ffffff !important;   
}

.tag-danger {
    background-color: #db2828 !important;   
    color: #ffffff !important;   
}

.react-datepicker-popper {
  z-index: 99 !important;

}

.g, .g iframe{
  width: 100% !important ;
}

.form-control div p iframe{
  width: 100% !important ;
}


.notification-badge {
  position: absolute;
  bottom: -47px;
  left: 0;
  z-index: 9;
   
}

.notification-badge .border
{
  border: 1px solid #ccc;
}


.notification-counter
{
  background-color: red;
    color: #fff;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    text-align: center;
    padding: 3px;
    position: absolute;
    z-index: 99;
    top: -10px;
    right: -14px;
    font-size: 11px;
}


.btn-brand {
  border-color: black !important;
  color: white !important;
  background-color: black !important;
}
 
.btn {
  display: inline-block;
  font-weight: 400;
  
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-brand:hover {
  color: white !important;
  background-color: #e8be28 !important;
  border-color: #e8be28 !important;
}