// No media query for `xs` since this is the default in Bootstrap

// Extra Small devices (Extra Small phones, 320px)

$extraSmallDevices: "only screen and (max-width: 320px)";

// Small devices (landscape phones, 576px and up)

$smallDevices: "only screen and (max-width: 767px)";

// Small devices (landscape )

$smallDevicesLandscape: "only screen and (max-width: 767px) and (orientation: landscape)";

// Medium devices (tablets, 768px and up)

$mediumDevices: "only screen and (min-width: 768px) and (max-width: 991px) ";

// Medium devices (tablets, 768px and up) (landscape )

$mediumDevicesLandscape: "only screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape)";

// Large devices (desktops, 992px and up)

$largeDevices: "only screen and (min-width: 992px) and (max-width: 1199px)";

// Large devices (desktops, 992px and up) (landscape )

$largeDevicesLandscape: "only screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape)";

// Extra large devices (large desktops, 1200px and up)

$extraLargeDevices: "only screen and (min-width: 1200px)";
